html, body{
    margin: 0;
}
.relevanttext{
    color: white;
    font-family:"Fira Sans";
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.alcentroplis{
    display: flex;
    justify-content: center;
}
