
<ion-content style="background-color : #F6F6F6" > 
<!-- Campanita de notificación -->
  <div class ="notification">
    <ion-button class="noti-btn" (click)="presentModal()">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-button>
  </div>
<ion-grid>
  <ion-row>
    <!--Banner del perfíl-->
    <div class ="contenedor">
      <div class ="image-cont">
        <div class="text-al">
          <img src ="https://i.pinimg.com/originals/31/e2/79/31e2794f4a3280333ebde8f2169ff040.png">
        </div>
        <div>
          <ion-label class="fira-2-bl">Username~~</ion-label>
        </div>
      </div>
    </div>
  </ion-row>

  <!--  Fondo blanco  -->
  <ion-row>
    <div class="main-content">
      <div class ="contenedor2">
        <ion-label class="ques-1-blc">Descripción del usuario</ion-label>
      </div>
      <ion-row class="just-cent p-t-2e">
        <ion-label class="fira-13-blc">Habilidades musicales</ion-label>
      </ion-row>
        <ion-row class="p-t-2e">
          <ion-col>
            <div class="intrument-box">
                <img src="/assets/images/guitarra.svg">
                <ion-label class="ques-10-wht width-100p text-al">Guitarra</ion-label>
            </div>
          </ion-col>
          <ion-col>
            <div class="intrument-box">
              <img src="/assets/images/bajo.svg">
              <ion-label class="ques-10-wht width-100p text-al">Bajo</ion-label>
            </div>
          </ion-col>
          <ion-col>
            <div class="intrument-box">
              <img src="/assets/images/teclado.svg">
              <ion-label class="ques-10-wht width-100p text-al">Teclado</ion-label>
            </div>
          </ion-col>
          <ion-col>
            <div class="intrument-box">
              <img src="/assets/images/microfono.svg">
              <ion-label class="ques-10-wht width-100p text-al">Vocalista</ion-label>
            </div>
          </ion-col>
        </ion-row>
      <ion-row class="just-cent p-t-2e">
        <ion-label class="fira-13-blc">Historial</ion-label>
      </ion-row>
      <ion-row class="p-t-2e">
        <div class="history-box">
          <p class="ques-1-blc">Guitarrista</p>
          <p class="ques-1-blc">BunnyBanda</p>
        </div>
      </ion-row>
      <ion-row class="p-t-2e">
        <div class="history-box">
          <p class="ques-1-blc">Guitarrista</p>
          <p class="ques-1-blc">BunnyBanda</p>
        </div>
      </ion-row>
      <ion-row class="p-t-2e">
        <div class="history-box">
          <p class="ques-1-blc">Guitarrista</p>
          <p class="ques-1-blc">BunnyBanda</p>
        </div>
      </ion-row>
    </div>
  </ion-row>
</ion-grid>
</ion-content>
