<ion-content style="background-color : #F6F6F6" > 
<!-- Campanita de notificación -->
  <div class ="notification">
    <ion-icon name="notifications-outline"></ion-icon>
  </div>
<ion-grid>
  <ion-row>
    <!--Banner del perfíl-->
    <div class ="contenedor">
      <div class ="image-cont">
        <div class="text-al">
          <img src ="https://i.pinimg.com/originals/31/e2/79/31e2794f4a3280333ebde8f2169ff040.png">
        </div>
        <div>
          <ion-label class="fira-2-bl">Username~~</ion-label>
        </div>
      </div>
    </div>
  </ion-row>

  <!--  Fondo blanco  -->
  <ion-row>
    <div class="main-content p-t-8e">
      <div class ="contenedor2">
        Descripción del usuario
      </div>
      <ion-row>
        <ion-label>
          <div class="textoregular">
            Habilidades musicales
          </div>
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-label >
          <div class="textoregular">
            Historial
          </div>
        </ion-label>
      </ion-row>
    </div>
  </ion-row>
</ion-grid>
</ion-content>
