.logo-img{
    height: 50px;
    width: 50px;
}

.album-disp{
    background: #f6f6f6;
    --background: #f6f6f6;
}

.album-img{
    width: 100px;
    height: 100px;
}
.album-list{
    background: #f6f6f6;
    --background: #f6f6f6;
    
}
.album-list ion-item{
    width: 90%;
    margin: .7em auto;
    background: #FFFFFF;
    --background: #FFFFFF;
    --ion-color-base: white !important;
    --ion-color-shade: none !important;
    --ion-color-contrast: none !important;
    border-left: 5px solid #5F539B;
}
.song-button-box{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}
.look-song-btn{
    background: #5F539B;
    --background: #5F539B;
    height: 40px;
    color: white;
    font-family: 'Questrial', sans-serif !important;
    font-size: 1em;
}