img{
    height: 120px;
    width: 120px;
    background-color : #877EB4;
}

.quietoperro{
    position: -webkit-sticky;
    position: sticky;
}

.perate{
    height: 144% !important;
}

.efe{
    font-size: 24px;
}