<h1 align="center">.</h1>
<h1 align="center">.</h1>
<h1 align="center">.</h1>
<head>
  <style>
    div { 
      width: 100%;
      height: 200px;
      background-color: #330066 
    }
  </style>
</head>
<body>
  <div>
    
    <h1 style="color:white" align="center"><br>Bienvenido</h1>
    <h1 style="color:white" align="center">"Username"</h1>
  </div>
</body>

<ion-content>
  <ion-grid>
    <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Jueves 14 de Mayo del 2020 <br>16:50 pm </ion-card-subtitle>
              <ion-card-title>Club de Leones - Chihuahua Chih.</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Evento para la caridad para los afectados del COVID-19, Afinar bien las guitarras y llevar cubrebocas. Exito chavales!!
            </ion-card-content>
          </ion-card>
        </ion-col>
     </ion-row>
     <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Sabado 16 de Mayo del 2020 <br>20:00 pm </ion-card-subtitle>
              <ion-card-title>BlackLion - Chihuahua Chih.</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Iremos a un Bar local, si logramos agradar al publico estan dispuestos a contratarnos mas seguido.
            </ion-card-content>
          </ion-card>
        </ion-col>
     </ion-row>
     <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Viernes 22 de Mayo del 2020 <br>12:15 pm </ion-card-subtitle>
              <ion-card-title>La Taberna del Guacamayo - Mty</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              El representante de Kemonito nos ha invitado a su evento privado, EXITO!!. Por cierto, Benito Juarez y Kemonito son la misma persona??
            </ion-card-content>
          </ion-card>
        </ion-col>
     </ion-row>

  </ion-grid>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="person">
      <ion-icon name="person-circle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="musical">
      <ion-icon name="musical-notes-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="setting">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
