<ion-header>
  <ion-toolbar style="--background: #382983;">
    <ion-row class="ion-align-items-left">
      <ion-col size="2">
        <!--GO BACK!!!!!-->
        <ion-button (click)="goBack()" class="noti-btn">
          <ion-icon class="color-wht" name="return-up-back-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="10">
        <ion-row class="heig-100p alg-cnt">
          <ion-label>{{loadedSong.name}}</ion-label>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- <div class="notification">
      <ion-button class="noti-btn" (click)="presentModal()">
        <ion-icon class="color-wht" name="notifications-outline"></ion-icon>
      </ion-button>
    </div> -->
    <div class ="notification">
      <ion-button class="noti-btn" (click)="reloadDataPage()">
        <ion-icon name="reload-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-header>
  <!-- <ion-segment class="choose-view" (ionChange)="segmentChanged($event)"> -->
  <ion-segment [(ngModel)]="actualSliderIndex" (ngModelChange)="moveSlide()" class="choose-view">
    <ion-segment-button value="0" >
      <ion-label>Letra</ion-label>
    </ion-segment-button>
    <ion-segment-button value="1" *ngIf="dataSessionService.user.role.toString() != '0'">
      <ion-label>Partitura</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2" *ngIf="dataSessionService.user.role.toString() != '0'">
      <ion-label>Acordes</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content style="--background: #f6f6f6;">
 

  <!-- Slider con las vistas de la canción-->

  <ion-slides #Slider [options]="sliderOpts" zoom class="rela">
    <ion-slide>
      <!--Letra-->
      <ion-grid class="p-1e">
        <ion-row>
          <ion-label class="ques-1-blc">
            {{loadedSong.lyric}}
          </ion-label>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide zoom>
      <!--Partitura-->
      <ion-grid class="p-1e">
        <div class = "swiper-zoom-container">  <!--intento de zoom-->
          <img *ngIf="haveChords == true" [src]="imageTabs">
          <div *ngIf="haveTabs == false" >
            <ion-label class="ques-1-blc">Sin Imagen</ion-label>
          </div>
        </div>
      </ion-grid>
    </ion-slide>

    <ion-slide zoom>
      <!--Acordes-->
      <ion-grid class="p-1e">
        <div class = "swiper-zoom-container">
          <img *ngIf="haveChords == true" [src]="imageChords">
          <div *ngIf="haveChords == false" >
            <ion-label  class="ques-1-blc">Sin Imagen</ion-label>
          </div>
        </div>
      </ion-grid>
    </ion-slide>

  </ion-slides>
  
  <div class="next-back-btns" style="z-index: 1;">
    <ion-row class="just-cent">
      <ion-button (click)="loadPrevious()" class="blu-btn"><ion-icon name="caret-back-outline"></ion-icon></ion-button>
      <ion-button (click)="loadNext()"  class="blu-btn"><ion-icon name="caret-forward-outline"></ion-icon></ion-button>
    </ion-row>
  </div>
</ion-content>
