<ion-header>
  <ion-toolbar color="moradoMiMyApp">
    <ion-row class="ion-align-items-left">
      <ion-col class="p-05-1">
        <img class="logo-img" src="/assets/images/logo-wht.svg">
      </ion-col>
      <ion-col class="ion-align-self-center">
        <ion-title class="fira-15-wht p-0">Lista de canciones</ion-title>
      </ion-col>
      <ion-col>
        <!-- <div class="notification">
          <ion-button class="noti-btn" (click)="presentModal()">
            <ion-icon name="notifications-outline"></ion-icon>
          </ion-button>
        </div> -->
        <div class ="notification">
          <ion-button class="noti-btn" (click)="reloadDataPage()">
            <ion-icon name="reload-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!--[scrollEvents]="true"
(ionScrollStart)="logScrollStart()"
(ionScroll)="logScrolling($event)"
(ionScrollEnd)="logScrollEnd()">-->
<ion-list class="choose-list">
  <ion-row class="disp-fjc">
    <ion-label class="fira-13-blc">Selecciona un evento</ion-label>
  </ion-row>
    
    <ion-select class="fira-13-blc" 
      [(ngModel)]="dataSessionService.eventSelected" 
      (ionChange)="selectEvent()" value="" okText="Aceptar" cancelText="Cancelar" 
      [placeholder]="this.dataSessionService.eventSelected.name.length > 0 ? this.dataSessionService.eventSelected.name :'Para ver el repertorio'">
      <ion-select-option *ngFor="let event of repertoriesAvailable; let i = index" [value]="event" class="ques-1-blc">
        {{event.name}}</ion-select-option>
    </ion-select>
</ion-list>

  <!-- lista -->
  <ion-list lines="none" class="song-list">
    <ion-item *ngIf="dataSessionService.eventSelected.name.length > 0">
      <ion-row class="p-l-1e">
        <ion-label class="ques-1-blc">Nombre del repertorio : {{dataSessionService.eventSelected.setlist.nameRepertori}}</ion-label><br>
        <ion-label class="ques-1-blc">nombre de la banda : {{dataSessionService.eventSelected.nameBand}}</ion-label>
      </ion-row>
    </ion-item>
    <ion-item *ngIf="dataSessionService.eventSelected.name.length == 0">
      <ion-row class="p-l-1e">
        <ion-label class="ques-1-blc">Ningun evento seleccionado</ion-label>
      </ion-row>
    </ion-item>
    <ion-item *ngFor="let set of dataSessionService.eventSelected.setlist.sets; let i = index">
      <ion-button class="song-btn" [routerLink]="'/dashboard/list/'+dataSessionService.eventSelected.idLiveEvent+'/'+set.idSet">
        <ion-row class="song-card alg-cnt">
            <img *ngIf="set.haveImage == false" class="profile-pic" src="/assets/images/no-list.png">
            <img *ngIf="set.haveImage" class="profile-pic" [src]="set.imageBlob">
          <div class="p-l-1e">
            <ion-row>
              <ion-label class="ques-15-blc">{{set.name}}</ion-label>
            </ion-row>
            <ion-row>
              <ion-label class="ques-1-blc">{{set.numberSongs}} canciones</ion-label>
            </ion-row>
          </div>
          <div>
          </div>
        </ion-row>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>