<ion-content style="--ion-background-color: #382983 !important">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <img src="/assets/images/logo-wht.svg">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-label class="fira-15-wht">Vamos a crear tu cuenta, proporcionanos...</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input [(ngModel)]="name" placeholder="Nombre(s)..."></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input [(ngModel)]="username" placeholder="Nombre de usuario..."></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input [(ngModel)]="email" placeholder="Correo..."></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input [(ngModel)]="password" type="password" placeholder="Contraseña..."></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input [(ngModel)]="confirmPass" type="password" placeholder="Confirmar contraseña..."></ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="p-t-1e">
        <ion-col class="ion-text-center">
          <ion-label class="ques-09-wht">Indica que talento musical tienes</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="disp-fjc">
        <ion-segment scrollable value="0" (ionChange)="roleChanched($event)">
          <ion-segment-button selected value="0">
            <img class="img-seg" src="/assets/images/microfono.svg">
            <ion-label class="ques-10-wht">Vocalista</ion-label>
          </ion-segment-button>
          <ion-segment-button value="1">
            <img class="img-seg" src="/assets/images/teclado.svg">
            <ion-label class="ques-10-wht">Teclado</ion-label>
          </ion-segment-button>
          <ion-segment-button value="2">
            <img class="img-seg" src="/assets/images/bajo.svg">
            <ion-label class="ques-10-wht">Bajo</ion-label>
          </ion-segment-button>
          <ion-segment-button value="3">
            <img class="img-seg" src="/assets/images/guitarra.svg">
            <ion-label class="ques-10-wht">Guitarra</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-row>
      <ion-row class="p-t-1e">
        <ion-col class="ion-text-center">
          <ion-button (click)="registerUser()" class="blu-quest">Crear cuenta</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="p-b-1e">
        <ion-col class="ion-text-center">
          <ion-label class="ques-09-wht" routerLink="/login">Ya tengo una cuenta</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>