<ion-header class="p-b-1e">  
  <div class ="notification">
    <ion-button class="noti-btn" (click)="presentModal()">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-button>
  </div>
  <ion-grid>
    <ion-row class="just-cent">
      <img class="head-logo" src="/assets/images/logo-wht.svg">
    </ion-row>
    <ion-row class="just-cent">
      <h1 class="fira-15-wht">Bienvenido</h1>
    </ion-row>
    <ion-row class="just-cent">
      <h1 class="fira-15-wht">"Username"</h1>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content style="--background: #F6F6F6">
    <ion-grid>
      <ion-row>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle class="ques-09-bl">Jueves 14 de Mayo del 2020 <br>16:50 pm </ion-card-subtitle>
            <ion-card-title class="fira-2-blc">Club de Leones - Chihuahua Chih.</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ques-1-blc">
            Evento para la caridad para los afectados del COVID-19, Afinar bien las guitarras y llevar cubrebocas. Exito
            chavales!!
          </ion-card-content>
        </ion-card>
      </ion-row>
      <ion-row>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle class="ques-09-bl">Viernes 22 de Mayo del 2020 <br>12:15 pm </ion-card-subtitle>
            <ion-card-title class="fira-2-blc">La Taberna del Guacamayo - Mty</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ques-1-blc">
            El representante de Kemonito nos ha invitado a su evento privado, EXITO!!. Por cierto, Benito Juarez y
            Kemonito son la misma persona??
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-grid>
</ion-content>