<ion-header class="p-b-1e">  
  <!-- <div class ="notification">
    <ion-button class="noti-btn" (click)="presentModal()">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-button>
  </div> -->
  <div class ="notification">
    <ion-button class="noti-btn" (click)="reloadDataPage()">
      <ion-icon name="reload-outline"></ion-icon>
    </ion-button>
  </div>
  <ion-grid>
    <ion-row class="just-cent">
      <img class="head-logo" src="/assets/images/logo-wht.svg">
    </ion-row>
    <ion-row class="just-cent">
      <h1 class="fira-15-wht">Bienvenido</h1>
    </ion-row>
    <ion-row class="just-cent">
      <h1 class="fira-15-wht">{{dataSessionService.user.name}}</h1>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content style="--background: #F6F6F6">
    <ion-grid>
      <ion-row>
        <ion-label class="ques-1-blc p-l-1e">Proximos eventos:</ion-label>
      </ion-row>
      <ion-row *ngFor="let event of dataSessionService.nextEventsAllData; let i = index" (click)="openRepertorieOfTheEvent(event)">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle class="ques-09-bl">{{utilitiesService.getOnlyDate(event.date)}}<br>{{utilitiesService.getOnlyTime(event.date)}} </ion-card-subtitle>
            <ion-card-title class="fira-2-blc">{{event.place}} - {{event.location}}.</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ques-1-blc">
            <p>
              Tag : {{event.nameTag}}
            </p>
            <p>
              De la banda : {{event.nameBand}}
            </p>
            <p>
              Manager Organiza : {{event.nameManager}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-grid>
</ion-content>