/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.sc-ion-input-ios-h, .sc-ion-input-md-h{
    background-color: white;
    height: 2.5em;
    border-radius: 10px;
    font-family: 'Questrial', sans-serif;
    color: #353535;
    padding-left: .5em !important;
    width: 80%;
    margin: auto;
    --padding-start: 10px;
    transform: none;
}
.text-al{
    text-align: center;
}
/*Botones*/
ion-button {
    text-transform: none;
}
.blu-quest{
    --background: #0087D1;
    font-family: 'Questrial', sans-serif;
    color: white;
    --border-radius: 20px;
    height: 50px;
    width: 180px;
    font-size: 1em;
}
/*Letras*/


.fira-1-wht{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1em;
    color: white;
}
.fira-15-wht{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5em;
    color: white;
}
.fira-2-bl{
    font-family: 'Fira Sans', sans-serif;
    font-size: 2em;
    color: #382983;
}
.ques-30-bl{
    font-family: 'Questrial', sans-serif;
}
.ques-10-wht{
    font-size: 10px !important;
    color: white;
    font-family: 'Questrial', sans-serif;
}
/*PADDINGS*/
.p-t-8e{
    padding-top: 8em;
}