.centrito{
    display: flex;
    justify-content: center;
}

.profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #877EB4;
    border: 2px solid #877EB4;
    color: white;
}
.image-cont{
   
    display: flex;
    justify-content: center;
    top: 80px;
    z-index: 2;

}
.jus-ct{
    justify-content: center;
}
.ay{
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #877EB4;
    color: white;
}
.hidden{
    display: none;
}
.segment{
    background-color: #877EB4;
    --background: #877EB4;
    
}
ion-segment-button{
    --color-checked: #5F539B;
    --indicator-box-shadow: none;
    /*--indicator-color: #5F539B;*/
    --background-hover: #5F539B;
    --background-focused: #5F539B;
}