.centrito{
    display: flex;
    justify-content: center;
}

.profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #877EB4;
    border: 2px solid #877EB4;
    color: white;
}
.image-cont{
   
    display: flex;
    justify-content: center;
    top: 80px;
    z-index: 2;

}
.jus-ct{
    justify-content: center;
}
.ay{
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #877EB4;
    color: white;
}
.hidden{
    display: none;
}
ion-segment.ios.hydrated{
    background-color: #877EB4;
}
ion-segment-button.ios.in-segment.segment-button-has-label.segment-button-has-label-only.segment-button-layout-icon-top.ion-activatable.ion-activatable-instant.ion-focusable.hydrated.segment-button-checked{
    --indicator-color: #5F539B;
}